<div class="container">
    <h2>Cadastro de Usuário</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" id="name" [(ngModel)]="name" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
  